<!DOCTYPE html>
<html>
    <head>
        <title>Привет, Мир!</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
    </head>
    <body>
        <h1>Привет, Мир!</h1>
        <h2>Это учебный сайт, с его помощью будут изучены технологии
            python/django, html/css.</h2>
        <h3>Как видите, здесь используются заголовки различных
уровней.</h3>
        <h4>Здесь есть маркированный список:</h4> <!-- Изменили -->
        <h4>
          <ul>
            <li>Элемент 1;</li>
            <li>Элемент 2;</li>
            <li>Элемент 3;</li>
            <li>Последний элемент.</li>
        </ul>
          </h4>
        <h4>И нумерованный список:</h4> <!-- Изменили -->
        <h4>
          <ol>
            <li>Элемент 1;</li>
            <li>Элемент 2;</li>
            <li>Элемент 3;</li>
            <li>Последний элемент.</li>
        </ol>
          </h4>
        <p>И даже таблица:</p>
        <table width = "100%" border = "1"> <!-- Изменили -->
            <thead>
                <tr>
                    <th>Столбик 1</th>
                    <th>Столбик 2</th>
                    <th>Столбик 3</th>
                    <th>Столбик 4</th>
                    <th>Столбик 5</th> <!-- Добавили -->
                    <th>Столбик 6</th> <!-- Добавили -->
                </tr>
            </thead>
            <tr>
                    <td>Строка 1 Столбец 1</td>
                    <td>Строка 1 Столбец 2</td>
                    <td>Строка 1 Столбец 3</td>
                    <td>Строка 1 Столбец 4</td>
                    <td>Строка 1 Столбец 5</td> <!-- Добавили -->
                    <td>Строка 1 Столбец 6</td> <!-- Добавили -->
            </tr>
            <tr>
                    <td>Строка 2 Столбец 1</td>
                    <td>Строка 2 Столбец 2</td>
                    <td>Строка 2 Столбец 3</td>
                    <td>Строка 2 Столбец 4</td>
                    <td>Строка 2 Столбец 5</td> <!-- Добавили -->
                    <td>Строка 2 Столбец 6</td> <!-- Добавили -->
            </tr>
            <tr>
                    <td>Строка 3 Столбец 1</td>
                    <td>Строка 3 Столбец 2</td>
                    <td>Строка 3 Столбец 3</td>
                    <td>Строка 3 Столбец 4</td>
                    <td>Строка 3 Столбец 5</td> <!-- Добавили -->
                    <td>Строка 3 Столбец 6</td> <!-- Добавили -->
            </tr>
            <tr>
                    <td>Строка 4 Столбец 1</td>
                    <td>Строка 4 Столбец 2</td>
                    <td>Строка 4 Столбец 3</td>
                    <td>Строка 4 Столбец 4</td>
                    <td>Строка 4 Столбец 5</td> <!-- Добавили --> 
                    <td>Строка 4 Столбец 6</td> <!-- Добавили -->
            </tr>
            <tr>
                    <td>Строка 5 Столбец 1</td>
                    <td>Строка 5 Столбец 2</td>
                    <td>Строка 5 Столбец 3</td>
                    <td>Строка 5 Столбец 4</td>
                    <td>Строка 5 Столбец 5</td> <!-- Добавили -->
                    <td>Строка 5 Столбец 6</td> <!-- Добавили -->
            </tr>
        </table>
         <img src= "https://hsto.org/files/d4d/379/4e6/d4d3794e60cc4d6882266baceaebf7b4.jpg" alt="Just a Picture">
    </body>
</html>
